h1 { font-family: cursive;
	color: #088A08;
     background-color: #D8CEF6;}
img.align-center {
		  display:block;
		  margin: 0px auto;}
img.medium {
	    width: 360px;
	    height: 360px;}

p { align: justify;}